<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

    
</head>
<body>
    <style>.box {  }; </style>
    <div class="box">
                <div id="bd8b21b7c628485d8c5628f9b7317740" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_bd8b21b7c628485d8c5628f9b7317740 = echarts.init(
            document.getElementById('bd8b21b7c628485d8c5628f9b7317740'), 'white', {renderer: 'canvas'});
        var option_bd8b21b7c628485d8c5628f9b7317740 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "Africa",
                    110.5
                ],
                [
                    "Asia",
                    51.9
                ],
                [
                    "Europe",
                    35.4
                ],
                [
                    "Latin America and the Caribbean",
                    54.4
                ],
                [
                    "Northern America",
                    41.5
                ],
                [
                    "Oceania",
                    54.5
                ],
                [
                    "Burundi",
                    131.7
                ],
                [
                    "Comoros",
                    103.7
                ],
                [
                    "Djibouti",
                    66.6
                ],
                [
                    "Eritrea",
                    117.9
                ],
                [
                    "Ethiopia",
                    113.1
                ],
                [
                    "Kenya",
                    104.3
                ],
                [
                    "Madagascar",
                    110.8
                ],
                [
                    "Malawi",
                    126.5
                ],
                [
                    "Mauritius",
                    38.3
                ],
                [
                    "Mayotte",
                    108.5
                ],
                [
                    "Mozambique",
                    132.7
                ],
                [
                    "R\u00e9union",
                    53.2
                ],
                [
                    "Rwanda",
                    106.3
                ],
                [
                    "Seychelles",
                    49.2
                ],
                [
                    "Somalia",
                    145.8
                ],
                [
                    "S. Sudan",
                    116.8
                ],
                [
                    "Uganda",
                    142.0
                ],
                [
                    "Tanzania",
                    126.3
                ],
                [
                    "Zambia",
                    131.3
                ],
                [
                    "Zimbabwe",
                    120.2
                ],
                [
                    "Angola",
                    140.5
                ],
                [
                    "Cameroon",
                    118.8
                ],
                [
                    "Central African Rep.",
                    135.4
                ],
                [
                    "Chad",
                    145.5
                ],
                [
                    "Dem. Rep. Congo",
                    113.3
                ],
                [
                    "Democratic Republic of the Congo",
                    138.8
                ],
                [
                    "Equatorial Guinea",
                    86.9
                ],
                [
                    "Gabon",
                    91.0
                ],
                [
                    "Sao Tome and Principe",
                    121.3
                ],
                [
                    "Botswana",
                    81.9
                ],
                [
                    "Eswatini",
                    102.5
                ],
                [
                    "Lesotho",
                    80.4
                ],
                [
                    "Namibia",
                    93.1
                ],
                [
                    "South Africa",
                    64.6
                ],
                [
                    "Benin",
                    119.2
                ],
                [
                    "Burkina Faso",
                    131.3
                ],
                [
                    "Cabo Verde",
                    63.2
                ],
                [
                    "Tanzania",
                    117.8
                ],
                [
                    "Gambia",
                    127.3
                ],
                [
                    "Ghana",
                    95.2
                ],
                [
                    "Guinea",
                    128.4
                ],
                [
                    "Guinea-Bissau",
                    117.5
                ],
                [
                    "Liberia",
                    113.0
                ],
                [
                    "Mali",
                    147.5
                ],
                [
                    "Mauritania",
                    105.9
                ],
                [
                    "Niger",
                    164.4
                ],
                [
                    "Nigeria",
                    125.4
                ],
                [
                    "Senegal",
                    121.4
                ],
                [
                    "Sierra Leone",
                    112.1
                ],
                [
                    "Togo",
                    112.5
                ],
                [
                    "Algeria",
                    67.0
                ],
                [
                    "Egypt",
                    81.2
                ],
                [
                    "Libya",
                    60.4
                ],
                [
                    "Morocco",
                    60.5
                ],
                [
                    "Sudan",
                    111.3
                ],
                [
                    "Tunisia",
                    51.4
                ],
                [
                    "Western Sahara",
                    57.6
                ],
                [
                    "Armenia",
                    43.1
                ],
                [
                    "Azerbaijan",
                    47.0
                ],
                [
                    "Bahrain",
                    31.8
                ],
                [
                    "Cyprus",
                    36.1
                ],
                [
                    "Georgia",
                    43.5
                ],
                [
                    "Iraq",
                    99.0
                ],
                [
                    "Israel",
                    68.3
                ],
                [
                    "Jordan",
                    81.2
                ],
                [
                    "Kuwait",
                    38.1
                ],
                [
                    "Lebanon",
                    56.9
                ],
                [
                    "Oman",
                    37.7
                ],
                [
                    "Qatar",
                    21.4
                ],
                [
                    "Saudi Arabia",
                    47.5
                ],
                [
                    "State of Palestine",
                    100.4
                ],
                [
                    "Syrian Arab Republic",
                    71.9
                ],
                [
                    "Turkey",
                    54.3
                ],
                [
                    "United Arab Emirates",
                    23.4
                ],
                [
                    "Yemen",
                    104.3
                ],
                [
                    "Kazakhstan",
                    61.6
                ],
                [
                    "Kyrgyzstan",
                    73.4
                ],
                [
                    "Tajikistan",
                    89.7
                ],
                [
                    "Turkmenistan",
                    68.8
                ],
                [
                    "Uzbekistan",
                    61.8
                ],
                [
                    "Afghanistan",
                    123.1
                ],
                [
                    "Bangladesh",
                    61.9
                ],
                [
                    "Bhutan",
                    56.7
                ],
                [
                    "India",
                    60.7
                ],
                [
                    "Iran",
                    50.4
                ],
                [
                    "Maldives",
                    34.0
                ],
                [
                    "Nepal",
                    73.1
                ],
                [
                    "Pakistan",
                    88.0
                ],
                [
                    "Sri Lanka",
                    54.9
                ],
                [
                    "China",
                    36.3
                ],
                [
                    "China, Hong Kong SAR",
                    24.8
                ],
                [
                    "China, Macao SAR",
                    25.4
                ],
                [
                    "China, Taiwan Province of China",
                    26.8
                ],
                [
                    "Dem.Rep.Korea",
                    42.7
                ],
                [
                    "Japan",
                    31.0
                ],
                [
                    "Mongolia",
                    65.2
                ],
                [
                    "Korea",
                    26.0
                ],
                [
                    "Brunei Darussalam",
                    46.7
                ],
                [
                    "Cambodia",
                    71.5
                ],
                [
                    "Indonesia",
                    58.1
                ],
                [
                    "Lao PDR",
                    77.1
                ],
                [
                    "Malaysia",
                    51.9
                ],
                [
                    "Myanmar",
                    59.0
                ],
                [
                    "Philippines",
                    72.1
                ],
                [
                    "Singapore",
                    24.1
                ],
                [
                    "Thailand",
                    35.5
                ],
                [
                    "Timor-Leste",
                    102.4
                ],
                [
                    "Vietnam",
                    48.0
                ],
                [
                    "Antigua and Barbuda",
                    47.2
                ],
                [
                    "Aruba",
                    39.4
                ],
                [
                    "Bahamas",
                    47.9
                ],
                [
                    "Barbados",
                    39.0
                ],
                [
                    "Cuba",
                    34.5
                ],
                [
                    "Cura?ao",
                    43.4
                ],
                [
                    "Dominican Republic",
                    64.6
                ],
                [
                    "Grenada",
                    51.0
                ],
                [
                    "Guadeloupe",
                    47.2
                ],
                [
                    "Haiti",
                    81.3
                ],
                [
                    "Jamaica",
                    52.9
                ],
                [
                    "Martinique",
                    39.4
                ],
                [
                    "Puerto Rico",
                    39.0
                ],
                [
                    "Saint Lucia",
                    38.9
                ],
                [
                    "Saint Vincent and the Grenadines",
                    50.1
                ],
                [
                    "Trinidad and Tobago",
                    42.7
                ],
                [
                    "United States Virgin Islands",
                    47.9
                ],
                [
                    "Belize",
                    70.3
                ],
                [
                    "Costa Rica",
                    45.3
                ],
                [
                    "El Salvador",
                    64.0
                ],
                [
                    "Guatemala",
                    87.1
                ],
                [
                    "Honduras",
                    76.2
                ],
                [
                    "Mexico",
                    59.7
                ],
                [
                    "Nicaragua",
                    69.3
                ],
                [
                    "Panama",
                    61.3
                ],
                [
                    "Argentina",
                    57.2
                ],
                [
                    "Bolivia",
                    76.0
                ],
                [
                    "Brazil",
                    45.7
                ],
                [
                    "Chile",
                    41.5
                ],
                [
                    "Colombia",
                    50.5
                ],
                [
                    "Ecuador",
                    64.5
                ],
                [
                    "French Guiana",
                    78.1
                ],
                [
                    "Guyana",
                    66.8
                ],
                [
                    "Paraguay",
                    69.3
                ],
                [
                    "Peru",
                    54.2
                ],
                [
                    "Suriname",
                    61.3
                ],
                [
                    "Uruguay",
                    47.7
                ],
                [
                    "Venezuela",
                    64.4
                ],
                [
                    "Australia",
                    43.1
                ],
                [
                    "New Zealand",
                    44.4
                ],
                [
                    "Fiji",
                    65.9
                ],
                [
                    "New Caledonia",
                    48.8
                ],
                [
                    "Papua New Guinea",
                    89.2
                ],
                [
                    "Solomon Islands",
                    108.9
                ],
                [
                    "Vanuatu",
                    99.7
                ],
                [
                    "Guam",
                    55.9
                ],
                [
                    "Kiribati",
                    86.6
                ],
                [
                    "Micronesia",
                    75.6
                ],
                [
                    "French Polynesia",
                    48.8
                ],
                [
                    "Samoa",
                    97.8
                ],
                [
                    "Tonga",
                    93.9
                ],
                [
                    "Belarus",
                    35.1
                ],
                [
                    "Bulgaria",
                    32.4
                ],
                [
                    "Czechia",
                    34.1
                ],
                [
                    "Hungary",
                    32.2
                ],
                [
                    "Poland",
                    32.2
                ],
                [
                    "Republic of Moldova",
                    31.4
                ],
                [
                    "Romania",
                    34.4
                ],
                [
                    "Russia",
                    37.9
                ],
                [
                    "Slovakia",
                    32.4
                ],
                [
                    "Ukraine",
                    32.8
                ],
                [
                    "Channel Islands",
                    32.9
                ],
                [
                    "Denmark",
                    38.4
                ],
                [
                    "Estonia",
                    36.3
                ],
                [
                    "Finland",
                    37.7
                ],
                [
                    "Iceland",
                    43.9
                ],
                [
                    "Ireland",
                    46.6
                ],
                [
                    "Latvia",
                    36.1
                ],
                [
                    "Lithuania",
                    33.6
                ],
                [
                    "Norway",
                    39.1
                ],
                [
                    "Sweden",
                    40.5
                ],
                [
                    "United Kingdom",
                    39.7
                ],
                [
                    "Albania",
                    39.5
                ],
                [
                    "Bosnia and Herzegovina",
                    31.3
                ],
                [
                    "Croatia",
                    32.6
                ],
                [
                    "Greece",
                    31.7
                ],
                [
                    "Italy",
                    30.1
                ],
                [
                    "Malta",
                    31.9
                ],
                [
                    "Montenegro",
                    40.5
                ],
                [
                    "North Macedonia",
                    34.9
                ],
                [
                    "Portugal",
                    30.8
                ],
                [
                    "Serbia",
                    35.6
                ],
                [
                    "Slovenia",
                    32.8
                ],
                [
                    "Spain",
                    31.5
                ],
                [
                    "Austria",
                    31.7
                ],
                [
                    "Belgium",
                    38.8
                ],
                [
                    "France",
                    42.4
                ],
                [
                    "Germany",
                    31.7
                ],
                [
                    "Luxembourg",
                    32.6
                ],
                [
                    "Netherlands",
                    37.1
                ],
                [
                    "Switzerland",
                    32.6
                ],
                [
                    "Canada",
                    34.6
                ],
                [
                    "United States",
                    42.3
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "Africa",
                    110.5
                ],
                [
                    "Asia",
                    51.9
                ],
                [
                    "Europe",
                    35.4
                ],
                [
                    "Latin America and the Caribbean",
                    54.4
                ],
                [
                    "Northern America",
                    41.5
                ],
                [
                    "Oceania",
                    54.5
                ],
                [
                    "Burundi",
                    131.7
                ],
                [
                    "Comoros",
                    103.7
                ],
                [
                    "Djibouti",
                    66.6
                ],
                [
                    "Eritrea",
                    117.9
                ],
                [
                    "Ethiopia",
                    113.1
                ],
                [
                    "Kenya",
                    104.3
                ],
                [
                    "Madagascar",
                    110.8
                ],
                [
                    "Malawi",
                    126.5
                ],
                [
                    "Mauritius",
                    38.3
                ],
                [
                    "Mayotte",
                    108.5
                ],
                [
                    "Mozambique",
                    132.7
                ],
                [
                    "R\u00e9union",
                    53.2
                ],
                [
                    "Rwanda",
                    106.3
                ],
                [
                    "Seychelles",
                    49.2
                ],
                [
                    "Somalia",
                    145.8
                ],
                [
                    "S. Sudan",
                    116.8
                ],
                [
                    "Uganda",
                    142.0
                ],
                [
                    "Tanzania",
                    126.3
                ],
                [
                    "Zambia",
                    131.3
                ],
                [
                    "Zimbabwe",
                    120.2
                ],
                [
                    "Angola",
                    140.5
                ],
                [
                    "Cameroon",
                    118.8
                ],
                [
                    "Central African Rep.",
                    135.4
                ],
                [
                    "Chad",
                    145.5
                ],
                [
                    "Dem. Rep. Congo",
                    113.3
                ],
                [
                    "Democratic Republic of the Congo",
                    138.8
                ],
                [
                    "Equatorial Guinea",
                    86.9
                ],
                [
                    "Gabon",
                    91.0
                ],
                [
                    "Sao Tome and Principe",
                    121.3
                ],
                [
                    "Botswana",
                    81.9
                ],
                [
                    "Eswatini",
                    102.5
                ],
                [
                    "Lesotho",
                    80.4
                ],
                [
                    "Namibia",
                    93.1
                ],
                [
                    "South Africa",
                    64.6
                ],
                [
                    "Benin",
                    119.2
                ],
                [
                    "Burkina Faso",
                    131.3
                ],
                [
                    "Cabo Verde",
                    63.2
                ],
                [
                    "Tanzania",
                    117.8
                ],
                [
                    "Gambia",
                    127.3
                ],
                [
                    "Ghana",
                    95.2
                ],
                [
                    "Guinea",
                    128.4
                ],
                [
                    "Guinea-Bissau",
                    117.5
                ],
                [
                    "Liberia",
                    113.0
                ],
                [
                    "Mali",
                    147.5
                ],
                [
                    "Mauritania",
                    105.9
                ],
                [
                    "Niger",
                    164.4
                ],
                [
                    "Nigeria",
                    125.4
                ],
                [
                    "Senegal",
                    121.4
                ],
                [
                    "Sierra Leone",
                    112.1
                ],
                [
                    "Togo",
                    112.5
                ],
                [
                    "Algeria",
                    67.0
                ],
                [
                    "Egypt",
                    81.2
                ],
                [
                    "Libya",
                    60.4
                ],
                [
                    "Morocco",
                    60.5
                ],
                [
                    "Sudan",
                    111.3
                ],
                [
                    "Tunisia",
                    51.4
                ],
                [
                    "Western Sahara",
                    57.6
                ],
                [
                    "Armenia",
                    43.1
                ],
                [
                    "Azerbaijan",
                    47.0
                ],
                [
                    "Bahrain",
                    31.8
                ],
                [
                    "Cyprus",
                    36.1
                ],
                [
                    "Georgia",
                    43.5
                ],
                [
                    "Iraq",
                    99.0
                ],
                [
                    "Israel",
                    68.3
                ],
                [
                    "Jordan",
                    81.2
                ],
                [
                    "Kuwait",
                    38.1
                ],
                [
                    "Lebanon",
                    56.9
                ],
                [
                    "Oman",
                    37.7
                ],
                [
                    "Qatar",
                    21.4
                ],
                [
                    "Saudi Arabia",
                    47.5
                ],
                [
                    "State of Palestine",
                    100.4
                ],
                [
                    "Syrian Arab Republic",
                    71.9
                ],
                [
                    "Turkey",
                    54.3
                ],
                [
                    "United Arab Emirates",
                    23.4
                ],
                [
                    "Yemen",
                    104.3
                ],
                [
                    "Kazakhstan",
                    61.6
                ],
                [
                    "Kyrgyzstan",
                    73.4
                ],
                [
                    "Tajikistan",
                    89.7
                ],
                [
                    "Turkmenistan",
                    68.8
                ],
                [
                    "Uzbekistan",
                    61.8
                ],
                [
                    "Afghanistan",
                    123.1
                ],
                [
                    "Bangladesh",
                    61.9
                ],
                [
                    "Bhutan",
                    56.7
                ],
                [
                    "India",
                    60.7
                ],
                [
                    "Iran",
                    50.4
                ],
                [
                    "Maldives",
                    34.0
                ],
                [
                    "Nepal",
                    73.1
                ],
                [
                    "Pakistan",
                    88.0
                ],
                [
                    "Sri Lanka",
                    54.9
                ],
                [
                    "China",
                    36.3
                ],
                [
                    "China, Hong Kong SAR",
                    24.8
                ],
                [
                    "China, Macao SAR",
                    25.4
                ],
                [
                    "China, Taiwan Province of China",
                    26.8
                ],
                [
                    "Dem.Rep.Korea",
                    42.7
                ],
                [
                    "Japan",
                    31.0
                ],
                [
                    "Mongolia",
                    65.2
                ],
                [
                    "Korea",
                    26.0
                ],
                [
                    "Brunei Darussalam",
                    46.7
                ],
                [
                    "Cambodia",
                    71.5
                ],
                [
                    "Indonesia",
                    58.1
                ],
                [
                    "Lao PDR",
                    77.1
                ],
                [
                    "Malaysia",
                    51.9
                ],
                [
                    "Myanmar",
                    59.0
                ],
                [
                    "Philippines",
                    72.1
                ],
                [
                    "Singapore",
                    24.1
                ],
                [
                    "Thailand",
                    35.5
                ],
                [
                    "Timor-Leste",
                    102.4
                ],
                [
                    "Vietnam",
                    48.0
                ],
                [
                    "Antigua and Barbuda",
                    47.2
                ],
                [
                    "Aruba",
                    39.4
                ],
                [
                    "Bahamas",
                    47.9
                ],
                [
                    "Barbados",
                    39.0
                ],
                [
                    "Cuba",
                    34.5
                ],
                [
                    "Cura?ao",
                    43.4
                ],
                [
                    "Dominican Republic",
                    64.6
                ],
                [
                    "Grenada",
                    51.0
                ],
                [
                    "Guadeloupe",
                    47.2
                ],
                [
                    "Haiti",
                    81.3
                ],
                [
                    "Jamaica",
                    52.9
                ],
                [
                    "Martinique",
                    39.4
                ],
                [
                    "Puerto Rico",
                    39.0
                ],
                [
                    "Saint Lucia",
                    38.9
                ],
                [
                    "Saint Vincent and the Grenadines",
                    50.1
                ],
                [
                    "Trinidad and Tobago",
                    42.7
                ],
                [
                    "United States Virgin Islands",
                    47.9
                ],
                [
                    "Belize",
                    70.3
                ],
                [
                    "Costa Rica",
                    45.3
                ],
                [
                    "El Salvador",
                    64.0
                ],
                [
                    "Guatemala",
                    87.1
                ],
                [
                    "Honduras",
                    76.2
                ],
                [
                    "Mexico",
                    59.7
                ],
                [
                    "Nicaragua",
                    69.3
                ],
                [
                    "Panama",
                    61.3
                ],
                [
                    "Argentina",
                    57.2
                ],
                [
                    "Bolivia",
                    76.0
                ],
                [
                    "Brazil",
                    45.7
                ],
                [
                    "Chile",
                    41.5
                ],
                [
                    "Colombia",
                    50.5
                ],
                [
                    "Ecuador",
                    64.5
                ],
                [
                    "French Guiana",
                    78.1
                ],
                [
                    "Guyana",
                    66.8
                ],
                [
                    "Paraguay",
                    69.3
                ],
                [
                    "Peru",
                    54.2
                ],
                [
                    "Suriname",
                    61.3
                ],
                [
                    "Uruguay",
                    47.7
                ],
                [
                    "Venezuela",
                    64.4
                ],
                [
                    "Australia",
                    43.1
                ],
                [
                    "New Zealand",
                    44.4
                ],
                [
                    "Fiji",
                    65.9
                ],
                [
                    "New Caledonia",
                    48.8
                ],
                [
                    "Papua New Guinea",
                    89.2
                ],
                [
                    "Solomon Islands",
                    108.9
                ],
                [
                    "Vanuatu",
                    99.7
                ],
                [
                    "Guam",
                    55.9
                ],
                [
                    "Kiribati",
                    86.6
                ],
                [
                    "Micronesia",
                    75.6
                ],
                [
                    "French Polynesia",
                    48.8
                ],
                [
                    "Samoa",
                    97.8
                ],
                [
                    "Tonga",
                    93.9
                ],
                [
                    "Belarus",
                    35.1
                ],
                [
                    "Bulgaria",
                    32.4
                ],
                [
                    "Czechia",
                    34.1
                ],
                [
                    "Hungary",
                    32.2
                ],
                [
                    "Poland",
                    32.2
                ],
                [
                    "Republic of Moldova",
                    31.4
                ],
                [
                    "Romania",
                    34.4
                ],
                [
                    "Russia",
                    37.9
                ],
                [
                    "Slovakia",
                    32.4
                ],
                [
                    "Ukraine",
                    32.8
                ],
                [
                    "Channel Islands",
                    32.9
                ],
                [
                    "Denmark",
                    38.4
                ],
                [
                    "Estonia",
                    36.3
                ],
                [
                    "Finland",
                    37.7
                ],
                [
                    "Iceland",
                    43.9
                ],
                [
                    "Ireland",
                    46.6
                ],
                [
                    "Latvia",
                    36.1
                ],
                [
                    "Lithuania",
                    33.6
                ],
                [
                    "Norway",
                    39.1
                ],
                [
                    "Sweden",
                    40.5
                ],
                [
                    "United Kingdom",
                    39.7
                ],
                [
                    "Albania",
                    39.5
                ],
                [
                    "Bosnia and Herzegovina",
                    31.3
                ],
                [
                    "Croatia",
                    32.6
                ],
                [
                    "Greece",
                    31.7
                ],
                [
                    "Italy",
                    30.1
                ],
                [
                    "Malta",
                    31.9
                ],
                [
                    "Montenegro",
                    40.5
                ],
                [
                    "North Macedonia",
                    34.9
                ],
                [
                    "Portugal",
                    30.8
                ],
                [
                    "Serbia",
                    35.6
                ],
                [
                    "Slovenia",
                    32.8
                ],
                [
                    "Spain",
                    31.5
                ],
                [
                    "Austria",
                    31.7
                ],
                [
                    "Belgium",
                    38.8
                ],
                [
                    "France",
                    42.4
                ],
                [
                    "Germany",
                    31.7
                ],
                [
                    "Luxembourg",
                    32.6
                ],
                [
                    "Netherlands",
                    37.1
                ],
                [
                    "Switzerland",
                    32.6
                ],
                [
                    "Canada",
                    34.6
                ],
                [
                    "United States",
                    42.3
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        }
    ],
    "legend": [
        {
            "data": [
                "",
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "Africa",
                "Asia",
                "Europe",
                "Latin America and the Caribbean",
                "Northern America",
                "Oceania",
                "Burundi",
                "Comoros",
                "Djibouti",
                "Eritrea",
                "Ethiopia",
                "Kenya",
                "Madagascar",
                "Malawi",
                "Mauritius",
                "Mayotte",
                "Mozambique",
                "R\u00e9union",
                "Rwanda",
                "Seychelles",
                "Somalia",
                "S. Sudan",
                "Uganda",
                "Tanzania",
                "Zambia",
                "Zimbabwe",
                "Angola",
                "Cameroon",
                "Central African Rep.",
                "Chad",
                "Dem. Rep. Congo",
                "Democratic Republic of the Congo",
                "Equatorial Guinea",
                "Gabon",
                "Sao Tome and Principe",
                "Botswana",
                "Eswatini",
                "Lesotho",
                "Namibia",
                "South Africa",
                "Benin",
                "Burkina Faso",
                "Cabo Verde",
                "Tanzania",
                "Gambia",
                "Ghana",
                "Guinea",
                "Guinea-Bissau",
                "Liberia",
                "Mali",
                "Mauritania",
                "Niger",
                "Nigeria",
                "Senegal",
                "Sierra Leone",
                "Togo",
                "Algeria",
                "Egypt",
                "Libya",
                "Morocco",
                "Sudan",
                "Tunisia",
                "Western Sahara",
                "Armenia",
                "Azerbaijan",
                "Bahrain",
                "Cyprus",
                "Georgia",
                "Iraq",
                "Israel",
                "Jordan",
                "Kuwait",
                "Lebanon",
                "Oman",
                "Qatar",
                "Saudi Arabia",
                "State of Palestine",
                "Syrian Arab Republic",
                "Turkey",
                "United Arab Emirates",
                "Yemen",
                "Kazakhstan",
                "Kyrgyzstan",
                "Tajikistan",
                "Turkmenistan",
                "Uzbekistan",
                "Afghanistan",
                "Bangladesh",
                "Bhutan",
                "India",
                "Iran",
                "Maldives",
                "Nepal",
                "Pakistan",
                "Sri Lanka",
                "China",
                "China, Hong Kong SAR",
                "China, Macao SAR",
                "China, Taiwan Province of China",
                "Dem.Rep.Korea",
                "Japan",
                "Mongolia",
                "Korea",
                "Brunei Darussalam",
                "Cambodia",
                "Indonesia",
                "Lao PDR",
                "Malaysia",
                "Myanmar",
                "Philippines",
                "Singapore",
                "Thailand",
                "Timor-Leste",
                "Vietnam",
                "Antigua and Barbuda",
                "Aruba",
                "Bahamas",
                "Barbados",
                "Cuba",
                "Cura?ao",
                "Dominican Republic",
                "Grenada",
                "Guadeloupe",
                "Haiti",
                "Jamaica",
                "Martinique",
                "Puerto Rico",
                "Saint Lucia",
                "Saint Vincent and the Grenadines",
                "Trinidad and Tobago",
                "United States Virgin Islands",
                "Belize",
                "Costa Rica",
                "El Salvador",
                "Guatemala",
                "Honduras",
                "Mexico",
                "Nicaragua",
                "Panama",
                "Argentina",
                "Bolivia",
                "Brazil",
                "Chile",
                "Colombia",
                "Ecuador",
                "French Guiana",
                "Guyana",
                "Paraguay",
                "Peru",
                "Suriname",
                "Uruguay",
                "Venezuela",
                "Australia",
                "New Zealand",
                "Fiji",
                "New Caledonia",
                "Papua New Guinea",
                "Solomon Islands",
                "Vanuatu",
                "Guam",
                "Kiribati",
                "Micronesia",
                "French Polynesia",
                "Samoa",
                "Tonga",
                "Belarus",
                "Bulgaria",
                "Czechia",
                "Hungary",
                "Poland",
                "Republic of Moldova",
                "Romania",
                "Russia",
                "Slovakia",
                "Ukraine",
                "Channel Islands",
                "Denmark",
                "Estonia",
                "Finland",
                "Iceland",
                "Ireland",
                "Latvia",
                "Lithuania",
                "Norway",
                "Sweden",
                "United Kingdom",
                "Albania",
                "Bosnia and Herzegovina",
                "Croatia",
                "Greece",
                "Italy",
                "Malta",
                "Montenegro",
                "North Macedonia",
                "Portugal",
                "Serbia",
                "Slovenia",
                "Spain",
                "Austria",
                "Belgium",
                "France",
                "Germany",
                "Luxembourg",
                "Netherlands",
                "Switzerland",
                "Canada",
                "United States"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Line-\u57fa\u672c\u793a\u4f8b"
        }
    ]
};
        chart_bd8b21b7c628485d8c5628f9b7317740.setOption(option_bd8b21b7c628485d8c5628f9b7317740);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
